<%- include('partials/header.ejs') %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-6 about-information">
      <p class=" about-page-paragraph"><%=aboutContent%></p>
      <p class=" about-page-paragraph">
        This website is made by XaFaK.
      </p>
      <p class=" about-page-paragraph">
        This website is made and used for educational purpose only. The creator of this website doesn't have any link with any of the discussed
        GNU/Linux Distributions. For any query or suggestion please contact developer using mail icon at the
        footer.
      </p>
    </div>
    <div class="col-lg-6 developer-col">
      <img class='developer-photo' src="/images/xafak-photo.png" alt="XaFaK">
      <h2 class="developer_name">Sanzar Farooq (XaFaK)</h2>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>
