<%- include('partials/header.ejs') %>

<div class="container-fluid holder-div">

    <h1>
        Sorry could not find that distribution! Why don't you <a href="/defineDistro">define</a> it and let it be
        approved and posted?"
    </h1>
</div>

<%- include('partials/footer.ejs') %>