    
      </div>
      <!-- Bootstrap jQuery necessary files -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<!-- jQuert cdn -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- linking client side javascript file -->
<script type="text/javascript" src="/javascript/app.js"></script>
  </div>
</div>
<footer>
  <div class="footer-div">
   <p class="developer-name">Created By XaFaK 
     <a href="https://github.com/XaFaK-01"><i class="fab fa-github"></i></a>
     <a href="mailto: sanzarfarooq01@gmail.com"><i class="fas fa-envelope"></i></a>
     <a href="https://github.com/xafak"><i class="fab fa-github-alt"></i></a>
   </p>
   <p class = "developer-name">2020</p>
  </div>
</footer>  
</body>
  </html>